# Google OAuth Client ID from Google Cloud Console
VITE_GOOGLE_OAUTH_CLIENT_ID=your_google_oauth_client_id_here

# Optional: Specific spreadsheet ID (if not provided, app creates new one)
# VITE_GOOGLE_SHEETS_ID=your_spreadsheet_id_here

VITE_GOOGLE_OAUTH_CLIENT_ID=82233624728-84lta29uocrgtq2uo6e83a0rev7sbgvh.apps.googleusercontent.com
VITE_GOOGLE_SHEETS_ID=1Eqa25EkEi4zj2wCGDamuYsDK6blEUHfbAnENqE9Nvsw
VITE_GOOGLE_SHEETS_API_KEY=AIzaSyDkVbVhmFA301ZERkgNuxzfkjxzmlpe7Uk
VITE_FIREBASE_API_KEY=AIzaSyDkVbVhmFA301ZERkgNuxzfkjxzmlpe7Uk